body {
  background-image: url(../assets/pokemonBackground.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  font-family: 'Public Pixel', sans-serif; 
  text-align: center;
}

div.pageContent {
  margin-top: 3em;
  height: 100%;
  text-align: center;
}

#img_sprite_front_default {
  width: 150px;
  height: 150px;
  margin-block: 1em;
}

button#previous,
button#next {
  font-family: 'Public Pixel', sans-serif;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #f1f1f5;
  box-shadow: 0px 2px 4px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px #d6d6e7;
  height: 48px;
  padding: 0 32px;
  font-size: 18px;
  border-radius: 6px;
  color: #030303;
}

button#previous:hover,
button#next:hover {
  box-shadow: 0px 4px 8px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}
